body {
    font-family: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
    line-height: 1.5;

    div.page-wrapper {
        text-align: center;

        div.page {
            text-align: left;
            display: inline-block;
            width: 100%;
            max-width: 90ch;

            table {
                margin: 2em 0;
                border-collapse: collapse;

                td, th {
                    border: 1px solid grey;
                    padding: 0.5ex 1.5ch;
                }
            }

            div, hr {
                margin: 4em 0;
            }

            div.thoughts {
                p {
                    margin: 1em 0;
                    padding: 0 1em;
                }
            }

            div.typewriter {
                text-align: center;
                font-family: "Courier New", monospace;
                background-color: rgba(255, 255, 0, 0.07);
                padding: 6em 2em;
                line-height: 1.8;
                overflow-x: auto;

                *.omit_space_before {
                    margin-top: 0;
                }

                p, pre, img {
                    margin: 2ex 0;
                    min-width: 30ch;
                    max-width: 70ch;
                    display: inline-block;
                    transform-origin: center;
                    transform: rotate(-1deg);
                }

                p, pre {
                    font-size: 0.9rem;
                    font-family: inherit;
                    text-align: left;
                    width: 100%;
                }
            }

            div.quotation {
                border: 1px solid grey;
                border-left-width: 0.4em;
                padding: 0 2em;
            }

            div.columns {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 0;
                width: 100%;

                div.column {
                    display: block;
                    margin: 4em 0;
                    padding: 0 1em;
                }

                div.column:not(:last-child) {
                    border-right: 1px solid #ccc;
                }
            }

            div.columns-1-2 {
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}
