body {
    font-family: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
    line-height: 1.5;

    div.page-wrapper {
        text-align: center;

        div.page {
            text-align: left;
            display: inline-block;
            width: 100%;
            max-width: 90ex;

            table {
                margin: 2ex 0;
                border-collapse: collapse;

                td, th {
                    border: 1px solid grey;
                    padding: 0.5ex 1.5ex;
                }
            }

            div, hr {
                margin: 8ex 0;
            }

            div.thoughts {
                p {
                    margin: 2ex 0;
                    padding: 0 2ex;
                }
            }

            div.typewriter {
                text-align: center;
                font-family: monospace;
                background-color: rgba(255, 255, 0, 0.07);
                padding: 10ex;
                line-height: 1.8;
                overflow-x: auto;

                pre, img {
                    margin: 2ex 0;
                    text-align: left;
                    display: inline-block;
                    transform-origin: center;
                    transform: rotate(-1deg);
                }
            }

            div.quotation {
                border: 1px solid grey;
                border-left-width: 0.8ex;
                padding: 0 2ex;
            }
        }
    }
}
