body {
    font-family: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;

    div.page {
        display: inline-block;
        width: 100ex;

        table {
            border-collapse: collapse;
            width: 100%;

            td, th {
                border: 1px solid grey;
                padding: 0.5ex 1.5ex;
            }
        }

        div.typewriter {
            font-family: monospace;
            background-color: rgba(255, 255, 0, 0.07);
            padding: 10ex;

            pre {
                transform-origin: center;
                transform: rotate(-1deg);
            }
        }

        div.quotation {
            border: 1px solid grey;
            border-left-width: 0.8ex;
            padding: 2ex;
        }
    }
}
