body {
    font-family:
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif;

    div.page {
        display: inline-block;
        width: 100ex;

        pre.typewriter {
            font-family: monospace;
            background-color: rgba(255, 255, 0, 0.07);
            padding: 10ex;
        }

        div.quotation {
            box-shadow: inset 0.5ex 0 0 grey;
            padding: 2ex;
        }
    }
}
