name: Check
on:
  schedule:  # On a schedule - UTC
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  check_job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for git history and pushing changes

      - name: Check for commits in the last 2 days
        id: check-commits
        run: |
          EIGHT_DAYS_AGO="$(date -d '2 days ago' --iso-8601)"
          LATEST_COMMIT_DATE="$(git log -1 --format='%aI')"
          [[ "${LATEST_COMMIT_DATE}" > "${EIGHT_DAYS_AGO}" ]] && has_recent_commits=true || has_recent_commits=false
          echo "has_recent_commits=${has_recent_commits}"
          echo "has_recent_commits=${has_recent_commits}" >>"${GITHUB_OUTPUT}"

      - name: Run checks
        if: |
          steps.check-commits.outputs.has_recent_commits == 'true' ||
          github.event_name == 'workflow_dispatch'
        run: |
          if grep -ir \
            -e 'artefact' \
            -e '“' -e '”' \
            -e '‘' -e '’' \
            -e '—' -e '–' \
            ./docs/
          then
            echo ""
            echo "You should address the findings above."
            exit 1
          fi
